{% extends "base.html" %}

{% block main %}
<form action = "/contact" enctype="multipart/form-data" method = "post" >
  {{form.csrf_token }}
  <h1> {{form_name}}</h1>
  </br>
  <h2> {{description}}</h2>
  <div class = "The_Form">
    <h3> {{form.Firstname.label}} {{required}}</h3> {{form.Firstname(class = "form-control", placeholder = name1_explain)}}
  </div>
  </br>
  <div class = "The_Form">
    <h3> {{form.Lastname.label}} {{required}}</h3> {{form.Lastname(class = "form-control", placeholder = name2_explain, autofocus = true)}}
  </div>
  </br>
  <div class = "The_Form">
    <h3> {{form.Email.label}} {{required}}</h3> {{form.Email(class = "form-control", placeholder = email_explain)}}
  </div>
  </br>
  <div class = "The_Form">
    <h3> {{form.Subject.label}} {{required}}</h3> {{form.Subject(class = "form-control", placeholder = sub_explain)}}
  </div>
    </br>
  <div class = "The_Form">
    <h3> {{form.your_message.label}} {{required}}</h3> {{form.your_message(class = textarea, class = "form-control", placeholder = message_explain)}}
    <!--<textarea name =" Message" rows ="10" cols = "50"/></textarea> -->
  </div>
  </br>
  <button type= "Submit" value = "Submit">Submit</button>
  </form>
{% endblock%}
