{% extends "base.html" %}

{% block main %}
<form method = "POST" action = '' >
  {{new_form.csrf_token }}
  <div class = "The Form">
    {{new_form.first_name.label}} </br> {{new_form.first_name}}
  </div>
  </br>
  <div class = "The Form">
    {{new_form.last_name.label}} </br> {{new_form.last_name}}
  </div>
  </br>
  <div class = "The Form">
    {{new_form.my_email.label}} </br> {{new_form.my_email}}
  </div>
  </br>
  <div class = "The Form">
    {{new_form.my_subject.label}} </br> {{new_form.my_subject}}
  </div>
    </br>
  <div class = "The Form">
    {{new_form.my_message.label}} </br> {{new_form.my_message}}
    <textarea name =" Message" rows ="10" cols = "50"/></textarea>
  </div>
  </br>
  <button type= "Submit" value = "Submit">Submit</button>
  </form>
{% endblock%}
